body{
  background-color: rgb(50, 150, 250);
}

.myphoto{
  width: 100%;
  height: auto;
  max-width: 320px;
  border-radius: 50%;
  border: 2px dashed red;
}

.info{
  text-align: center;
}

.likes{
  width: 50%;
  border: 2px solid black;
}
th, td {
   border: 1px dashed black;
}
